* {
  font-family: Arial;
}

#center {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  position: absolute;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
}

#center > * {
  margin-bottom: 30px;
}

#main-logo {
  margin: 0 auto 30px auto;
  cursor: pointer;
}

#search-bar {
  align-self: stretch;
  flex-direction: row;
  border-style: none;
  background-color: white;
}

input {
  flex: 1;
}

#navbar {
  display: flex;
  width: 100%;
  justify-content: space-between;
}

#left-bar {
  padding-left: 0;
}

li {
  display: inline;
  margin: 0 10px;
  color: #000;
  opacity: 0.75;
  cursor: pointer;
}

li:hover {
  text-decoration: underline;
}

#login-button {
  background-color: rgb(66, 133, 244);
  color: #fff;
  padding: 8px;
}

#login-button:hover {
  text-decoration: none;
}

#search-buttons {
  display: flex;
  flex-direction: row;
  margin: 0 auto;
}

#search-buttons > * {
  cursor: pointer;
  background-color: #F2F2F2;
  color: #5F6368;
  border: 1px solid #F2F2F2;
  font-family: Arial;
  font-size: 1rem;
  padding: 10px;

}

#left-button {
  margin-right: 10px;
}

#right-button {
  margin-left: 10px;
}

footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  color: rgba(0,0,0,.54);
  background-color: rgb(242, 242, 242);
  font-family: arial;
  left: 0;
}

#other-footer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  border-top: 1px;
  border-top-style: solid;
  border-top-color: rgb(228,228,228);
  z-index: 2;
}

@media (max-width: 850px) {
  #other-footer {
    flex-direction: column;
  }

  #other-footer > ul {
    text-align: center;
  }
}

#settings-button {
  margin-right: 40px;
}

#search-input {
  display: flex;
  flex-direction: row;
  border: 2px solid lightgrey;
  border-radius: 10px;
  padding: 5px;
  width: 60vw;;
  max-width: 584px;
  margin: 0 auto 30px auto;
}

#search-input:hover, #search-buttons > *:hover {
  box-shadow: 1px 1px 1px #d3d3d3, -1px -1px 1px #d3d3d3, -1px 1px 1px #d3d3d3, 1px -1px 1px #d3d3d3;
}

#magnifying-glass {
  width: 30px;
  height: 30px;
}

#alternate-language {
  align-self: center;
  margin-top: 50px;
}

.link-text {
  color: #1a0dab;
  cursor: pointer;
}

.link-text:hover{
  text-decoration: underline;
}